@model PersonelKayit.Models.PersonelMedya

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonelMedya</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PersonelId" class="control-label">Personel</label>
                <select asp-for="PersonelId" class="form-control" asp-items="ViewBag.Personeller"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedyaId" class="control-label">Medya</label>
                <select asp-for="MedyaId" class="form-control" asp-items="ViewBag.Medyalar"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
